@charset "utf-8";
/----------------------------------------------Header-------------------------------------/

#header{padding:1px 0 ; margin-left:25px;}
.h2 {
    text-s
}

#header nav{display:block; float:center; margin:inherit; padding:inherit; 0; color:#ffffff; background-color:#004125;}
#header nav ul{padding:10px 10px; margin-left:25;margin-right :25;}
#header nav ui{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav ui.last{margin-right:0;}
#header nav ui a{color:#ffffff; background-color:#004125;}
#header nav ui a:hover{color:#ffffff; background-color:#005d25;}
 
/--------------------------------------Img------------------------------------------------/
img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}

.video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:0px;
    height:0;
    overflow:hidden;
}

.video iframe, .video object, .video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.slider img{
	height:300px;
}
.squadimage img{
	width:100%;
	height:auto
}
.infoimage img{
	width: 100%;
	height: auto;
}


/--------------------------------------Wrapper--------------------------------------------/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left; }

.row1, .row1 a{color:#ffffff; background-color:#005d25; text-shadow: 20px px #00000; text-align:center;}
.row2{color:#000000; background-color:#FFFFFF; text-shadow: 20px px #00000;}
.row2 a{color:#000000; background-color:#FFFFFF; text-shadow: 20px px #00000;}
.row3, .row3 a{color:#ffffff; background-color:#005d25; text-shadow: 20px px #00000;}



/----------------------------------------------Footer-------------------------------------/
#footer{padding:300px 0; color:#ffffff;}
#footer p{margin:0; padding:0; color:#ffffff;}
